html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: white;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

a {
  transition: all 200ms ease-in-out;
  color: white;
  cursor: pointer; }
  a:hover, a:focus {
    color: #FF5274;
    text-decoration: none; }

h1 {
  padding: 20px 0;
  font-size: 60px; }

h2 {
  font-size: 40px;
  font-weight: 300; }

h3 {
  color: #3D4351;
  font-size: 24px;
  padding-bottom: 14px; }

h4 {
  color: #3D4351;
  text-transform: uppercase;
  font-size: 15px; }

p {
  color: rgba(28, 54, 83, 0.6);
  font-size: 15px;
  line-height: 29px;
  transition: all 200ms ease-in-out; }

.fixed-position {
  overflow: hidden; }

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999; }

.spinner {
  top: 300px;
  position: relative;
  display: block;
  margin: auto;
  padding: 0;
  width: 100px;
  height: 15px;
  text-align: center; }
  .spinner i {
    position: relative;
    display: inline-block;
    margin: 0 4px;
    width: 5px;
    height: 15px;
    border-radius: 2px;
    border: solid #666;
    border-width: 0 1px 1px 0;
    background: #333;
    animation: tilt infinite 5s cubic-bezier(0.955, -0.01, 1, 1);
    transform-origin: 100% 100%; }
    .spinner i:before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      display: block;
      width: 5px;
      height: 5px;
      background: transparent;
      box-shadow: 0 2px rgba(0, 0, 0, 0.3);
      animation: stretch infinite 5s cubic-bezier(0.955, -0.01, 1, 1);
      opacity: 0;
      transform-origin: 0% 0%; }

.spinner i:nth-child(2),
.spinner i:nth-child(2)::before {
  animation-delay: .3s; }

.spinner i:nth-child(3),
.spinner i:nth-child(3)::before {
  animation-delay: .6s; }

.spinner i:nth-child(4),
.spinner i:nth-child(4)::before {
  animation-delay: .9s; }

.spinner i:nth-child(5),
.spinner i:nth-child(5)::before {
  animation-delay: 1.2s; }

.spinner i:last-of-type {
  animation-name: tilt-last; }

.spinner i:last-of-type::before {
  animation-name: stretch-last; }

@keyframes tilt {
  10% {
    transform: rotate(70deg); }
  60% {
    transform: rotate(70deg); }
  70% {
    transform: rotate(0deg); } }
@keyframes tilt-last {
  10% {
    transform: rotate(90deg); }
  60% {
    transform: rotate(90deg); }
  70% {
    transform: rotate(0deg); } }
@keyframes stretch {
  10% {
    transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
    left: 0px;
    bottom: -1px; }
  60% {
    transform: rotate(-70deg);
    width: 10px;
    opacity: 1; }
  70% {
    width: 5px;
    transform: rotate(0deg);
    opacity: 0; } }
@keyframes stretch-last {
  10% {
    transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: .5;
    left: 3px;
    bottom: -1px; }
  60% {
    transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: .5; }
  70% {
    transform: rotate(0deg);
    width: 5px;
    height: 5px;
    opacity: 0; } }
.header-section {
  background-image: url(../img/hero.jpg);
  background-size: cover; }

.burger-container {
  position: absolute;
  display: inline-block;
  top: 60px;
  right: 20px;
  opacity: 0;
  transition: all 200ms ease-in-out; }
  .burger-container.open span:nth-child(1) {
    transform: rotate(-45deg);
    top: 15px; }
  .burger-container.open span:nth-child(2) {
    width: 0;
    opacity: 0; }
  .burger-container.open span:nth-child(3) {
    transform: rotate(45deg);
    top: -7px; }

.burger {
  cursor: pointer;
  display: block;
  height: 20px; }
  .burger span {
    background: white;
    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 7px;
    position: relative;
    top: 0;
    transition: all 400ms ease-in-out; }

.top-nav-back {
  display: inline-block;
  height: 89px;
  transition: all 200ms ease-in-out; }

.nav-main-container {
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 200ms ease-in-out;
  width: 90%;
  margin: 0 auto;
  height: 150px; }
  .nav-main-container > div {
    display: inline-block; }

.logo {
  padding: 60px 0 0 6%;
  transition: all 200ms ease-in-out;
  position: fixed; }
  .logo.logo_open {
    padding-top: 35px; }

.nav-menu {
  z-index: 9001;
  position: fixed;
  width: 90%; }

.nav-main-container.topmenu-fixed {
  border-bottom: none; }
  .nav-main-container.topmenu-fixed .navigation-tab {
    padding: 35px 15px; }
  .nav-main-container.topmenu-fixed .right-buttons {
    top: 35px; }

.menu-tabs {
  padding-left: 120px; }

.navigation-tab {
  display: inline-block;
  text-transform: uppercase;
  padding: 65px 15px;
  transition: all 200ms ease-in-out; }

.black-layer {
  transition: all 200ms ease-in-out;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9000;
  visibility: hidden; }
  .black-layer.open {
    background-color: black;
    opacity: 0.9;
    visibility: visible; }

.bg-blue {
  display: inline-block;
  height: 89px;
  background: #232731; }

.buttons {
  border: 2px solid #FF5274;
  color: #FF5274;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  border-radius: 25px;
  background: inherit;
  text-transform: uppercase;
  font-size: 13px;
  padding: 8px 40px;
  position: relative; }
  .buttons:hover {
    border: 2px solid #FF5274;
    background-color: #FF5274;
    color: white; }
  .buttons:focus {
    outline: none; }
  .buttons.reversed {
    border: 2px solid #FF5274;
    background-color: #FF5274;
    color: white;
    margin-right: 20px; }
    .buttons.reversed.reversed:hover {
      border: 2px solid #D7405D;
      background-color: #D7405D; }
  .buttons.large {
    padding: 15px 40px; }

.right-buttons {
  right: 0;
  top: 65px;
  position: absolute;
  transition: all 200ms ease-in-out; }
  .right-buttons .buttons {
    color: white;
    border: 2px solid #fff;
    background: inherit;
    margin: 0;
    top: 0; }
    .right-buttons .buttons:hover {
      border: 2px solid #FF5274;
      color: #D7405D; }
    .right-buttons .buttons.log-in {
      border: none;
      margin-right: 15px; }

.dark-section {
  padding: 120px 10px 165px 10px; }

.header-section .fa-angle-down {
  font-size: 28px;
  position: relative;
  display: inline-block;
  bottom: 25px;
  cursor: pointer;
  animation: floatingArrow 1s linear alternate infinite;
  left: 50%;
  color: white; }
.header-section p {
  padding-bottom: 70px;
  font-size: 20px;
  color: white; }

@keyframes floatingArrow {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(10px); } }
.white-section {
  padding: 135px 10px 65px 10px;
  overflow: hidden; }
  .white-section .single-article {
    padding-bottom: 50px; }
    .white-section .single-article .article-icon {
      color: #FF5274;
      font-size: 40px;
      display: inline-block;
      margin-right: 20px;
      vertical-align: top;
      width: 40px; }
    .white-section .single-article .article-content {
      display: inline-block;
      width: 80%; }
  .white-section.three {
    padding-bottom: 90px; }

.violet-section {
  padding: 120px 10px 85px 10px;
  background-color: #F3F4F8;
  overflow: hidden; }

.img-container img {
  position: absolute; }
.img-container .ipad {
  right: 235px;
  top: 535px;
  opacity: 0; }
  .img-container .ipad.fade-in {
    animation: imgsUp 1s ease-in-out forwards; }
.img-container .iphone {
  right: 135px;
  top: 760px;
  opacity: 0; }
  .img-container .iphone.iphone {
    animation: imgsUp 1s ease-in-out forwards 400ms; }
.img-container .devices {
  display: none; }
.img-container .macbook {
  top: 0;
  height: 400px;
  left: 690px;
  width: 920px;
  height: 540px;
  position: relative;
  opacity: 0; }
  .img-container .macbook.slide-in {
    opacity: 1;
    animation: imgsIn 1s ease-in-out forwards; }

@keyframes imgsUp {
  0% {
    opacity: 0;
    transform: translateY(0); }
  100% {
    transform: translateY(-500px);
    opacity: 1; } }
.violet-section .articles-list ul {
  list-style-type: none;
  padding: 0 45px 0 0; }
.violet-section .single-article {
  border-bottom: solid 1px #E6E9EA;
  margin: 35px 0; }
  .violet-section .single-article:last-child {
    border-bottom: none; }
.violet-section .content-column > p {
  padding-bottom: 30px; }

.white-section.two p {
  margin-bottom: 40px; }

@keyframes imgsIn {
  0% {
    opacity: 0;
    transform: translateY(0); }
  100% {
    opacity: 1;
    transform: translateX(-600px); } }
.dark-section.two {
  background-image: url(../img/polygonal-bg.jpg);
  padding-top: 90px;
  padding-bottom: 15px;
  margin-top: 40px; }
  .dark-section.two p {
    color: #ACB1B4;
    padding: 10px 0; }
  .dark-section.two i {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal; }
  .dark-section.two .diamond-wrapper {
    position: relative; }
  .dark-section.two img {
    position: relative;
    top: 80px;
    animation: diamondSwing 1200ms linear infinite alternate; }

@keyframes diamondSwing {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(10px); } }
.violet-section.two {
  padding: 170px 10px 160px 10px; }
  .violet-section.two .single-article {
    border-bottom: none;
    padding-top: 20px; }
    .violet-section.two .single-article:first-child {
      border-bottom: none;
      border-right: solid 1px #E6E9EA;
      padding-right: 70px; }
    .violet-section.two .single-article:last-child {
      padding-left: 70px; }

.blog-item {
  padding: 10px;
  margin-top: 65px; }
  .blog-item h6 {
    color: #FF5274;
    margin-top: 30px;
    cursor: pointer; }
  .blog-item p:hover {
    color: #3D4351;
    cursor: pointer; }
  .blog-item i {
    padding-left: 10px; }
  .blog-item img {
    transition: all 400ms ease-in-out; }
    .blog-item img:hover {
      transform: scale(1.2); }
  .blog-item .modal-content {
    position: relative;
    top: 130px;
    padding: 5px;
    max-width: 520px;
    margin: 0 8px; }
  .blog-item .close {
    position: absolute;
    top: -15px;
    right: -15px;
    color: white;
    background-color: black;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid; }
    .blog-item .close:focus {
      outline: none; }
    .blog-item .close span {
      position: relative;
      bottom: 4px;
      font-size: 18px;
      font-weight: 300; }
  .blog-item .modal-content img:hover {
    transform: none; }
  .blog-item .articleimg-wrapper {
    background-color: white;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    transition: all 400ms ease-in-out;
    position: relative;
    color: transparent; }
    .blog-item .articleimg-wrapper i {
      position: absolute;
      top: 25px;
      right: 25px;
      font-size: 23px;
      z-index: 3; }
    .blog-item .articleimg-wrapper:hover {
      opacity: 0.6;
      color: white; }

.dark-section.three {
  background-image: url(../img/testimonials-bg.jpg);
  padding: 115px 10px 125px 10px;
  background-size: cover; }
  .dark-section.three p {
    color: white !important;
    margin-top: 25px; }
  .dark-section.three .single-slide img {
    display: inline;
    border-radius: 50%;
    width: 85px;
    border: 2px solid white;
    margin-bottom: 30px; }

.slider .arrows {
  background-color: inherit;
  border: none;
  width: 45px;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  transition: all 400ms ease;
  top: 120px;
  opacity: 0;
  z-index: 2; }
  .slider .arrows.arrow-next {
    right: -17px; }
  .slider .arrows.arrow-prev {
    left: -17px; }
.slider:hover .arrows {
  opacity: .7; }
  .slider:hover .arrows.arrow-next {
    transform: translateX(-17px); }
  .slider:hover .arrows.arrow-prev {
    transform: translateX(17px); }
  .slider:hover .arrows:hover {
    opacity: 1; }
.slider:focus {
  outline: none; }

.slick-dots {
  bottom: -125px; }
  .slick-dots li button {
    cursor: default; }
    .slick-dots li button:before {
      width: 13px;
      height: 13px;
      border-radius: 20px;
      color: transparent;
      background-color: #5c5f6a;
      transition: all 200ms ease-in-out; }
  .slick-dots li:not(.slick-active) button {
    cursor: pointer; }
    .slick-dots li:not(.slick-active) button:hover::before {
      background-color: white; }
  .slick-dots li.slick-active button:before {
    color: transparent;
    border: 2px solid white;
    background-color: transparent; }

.white-section .three {
  padding: 135px 10px 115px 10px; }
.white-section .form {
  position: relative; }
  .white-section .form input {
    display: block;
    padding: 10px 10px 10px 80px;
    margin: 20px 0;
    border: solid 1px #E6E9EA;
    width: 100%;
    cursor: pointer; }
    .white-section .form input::-webkit-input-placeholder {
      color: rgba(28, 54, 83, 0.6);
      font-size: 15px; }
    .white-section .form input:focus {
      outline: none; }
  .white-section .form i {
    color: #FF5274;
    position: absolute;
    left: 20px;
    border-right: solid 1px #E6E9EA;
    padding-right: 21px; }
.white-section p {
  padding-bottom: 15px; }
.white-section .fa-envelope {
  top: 16px;
  font-size: 14px; }
.white-section .fa-lock {
  top: 80px;
  font-size: 18px; }
.white-section .buttons.reversed {
  width: 100%;
  border-radius: 0;
  padding: 10px;
  margin: 0;
  top: 0; }

.footer-section .top-strip {
  background-color: #495061; }
.footer-section .arrow-box {
  height: 50px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease-in-out; }
  .footer-section .arrow-box:hover {
    background-color: rgba(0, 0, 0, 0.4); }
.footer-section .fa-angle-up {
  color: white;
  font-size: 27px;
  position: relative;
  top: 10px; }
.footer-section .back-layer {
  background-color: #3D4351;
  padding: 110px 20px; }
.footer-section .nav-block p {
  color: #ACB1B4;
  font-size: 13px; }
.footer-section .fa-heart {
  color: #FF5274;
  animation: pulse 1s linear infinite alternate; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }
.footer-section .back-layer {
  position: relative; }
.footer-section .social-block {
  background-color: #373D4A;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  color: white; }
.footer-section .nav-block {
  border-top: solid 1px #4E566C;
  padding: 0; }
  .footer-section .nav-block ul {
    padding-left: 0; }
.footer-section .navigation-tab {
  padding: 25px 30px 55px 0 !important;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 13px; }
.footer-section .nav-block p {
  font-size: 13px; }
.footer-section .social-block p {
  color: white;
  text-transform: uppercase;
  font-size: 13px; }
.footer-section .social {
  padding: 135px 0 0 50px; }
  .footer-section .social:hover > a {
    color: white; }
  .footer-section .social a {
    height: 60px;
    width: 60px;
    background-color: #1AB4EF;
    border-radius: 3px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    margin-right: 20px; }
  .footer-section .social i {
    top: 15px;
    position: relative; }
  .footer-section .social .twitter {
    background-color: #1AB4EF; }
    .footer-section .social .twitter:hover {
      background-color: #1590BF; }
  .footer-section .social .facebook {
    background-color: #3B5898; }
    .footer-section .social .facebook:hover {
      background-color: #324C85; }

/*////////////////////////////////MEDIA QUERIES//////////////////////////////////*/
@media screen and (max-width: 1200px) {
  .violet-section .ipad {
    top: 600px; }
  .violet-section .iphone {
    top: 860px; } }
@media screen and (max-width: 990px) {
  .nav-main-container {
    width: 100%; }

  .right-buttons {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 600;
    opacity: 1;
    top: -20px; }
    .right-buttons .buttons.log-in {
      margin-right: 0;
      display: block;
      margin: 20px 0;
      font-size: 25px; }

  .burger-container {
    top: 65px;
    opacity: 1;
    transition: all 200ms ease-in-out;
    position: fixed;
    right: 6%;
    z-index: 9001; }
    .burger-container.burger-open {
      top: 32px; }

  .menu-tabs {
    padding-left: 0; }

  .nav-menu {
    width: 100%;
    opacity: 0;
    transition: all 200ms linear;
    transform: translateY(100px); }
    .nav-menu.open {
      transform: translateY(140px);
      opacity: 1; }

  .navigation-tab {
    list-style-type: none;
    display: block;
    position: relative;
    text-align: center;
    padding: 15px 0 !important;
    font-size: 25px;
    font-weight: 600;
    opacity: 1; }

  .menu-tabs ul {
    padding-left: 0; }

  .violet-section {
    padding-bottom: 0; }
    .violet-section .articles-list {
      padding-right: 0; }
    .violet-section .devices {
      display: block;
      width: 100%;
      padding: 20px 20px 0 20px; }

  .white-section.two .img-container {
    top: 65px; }

  .img-container img {
    position: relative; }
  .img-container .macbook {
    left: 0;
    width: 100%;
    height: 100%; }
    .img-container .macbook.slide-in {
      animation: none; }
  .img-container .ipad {
    display: none; }
  .img-container .iphone {
    display: none; }

  .dark-section.three .slider:hover > .arrows.arrow-prev,
  .dark-section.three .slider:hover > .arrows.arrow-next {
    display: none !important; }

  .violet-section.two .single-article:first-child {
    border-right: 0;
    padding-right: 0; }
  .violet-section.two .single-article:last-child {
    padding-left: 15px; }
  .violet-section .img-container {
    top: 0; }

  .footer-section .container {
    width: 750px; }
  .footer-section .social-block {
    display: none; } }
@media screen and (max-width: 768px) {
  .dark-section {
    padding: 50px 10px 85px 10px; } }
@media screen and (max-width: 640px) {
  .footer-section .navigation-tab {
    text-transform: uppercase;
    display: block;
    font-size: 13px;
    border-bottom: dashed 1px #4E566C;
    padding: 20px 20px 20px 0 !important;
    text-align: left;
    font-weight: 300; }
    .footer-section .navigation-tab:first-child {
      padding: 20px 0 20px 0; }
  .footer-section .nav-block {
    border-top: none; }
    .footer-section .nav-block p:nth-child(2) {
      margin-top: 50px;
      margin-bottom: 5px; }
  .footer-section .back-layer {
    padding: 55px 20px 30px 20px; }
  .footer-section .container {
    width: auto; } }
@media screen and (max-width: 580px) {
  .nav-main-container {
    height: 90px; }

  .logo {
    padding-top: 35px; }

  .buttons-wrapper .buttons {
    padding: 15px 40px;
    display: block;
    margin: 20px auto 0;
    width: 80%; }

  .header-section .fa-angle-down {
    display: none; }
  .header-section h1 {
    font-size: 50px; }
  .header-section p {
    padding-bottom: 40px; }

  .img-container {
    top: 85px; }

  .burger-container {
    top: 35px; }

  .dark-section.two {
    margin-top: 50px; }

  .white-section {
    padding: 100px 10px 0px 10px; }
    .white-section.three {
      padding: 60px 0; }
    .white-section.two {
      padding: 100px 10px 75px 10px; }

  .violet-section .articles-list ul {
    padding-right: 0; }
  .violet-section.two {
    padding: 125px 10px 115px 10px; }
    .violet-section.two .single-article {
      margin-bottom: 0;
      padding-top: 0; }
      .violet-section.two .single-article:first-child {
        padding-right: 0; }
      .violet-section.two .single-article:last-child {
        margin-bottom: 50px; }
    .violet-section.two .blog-item {
      margin-top: 0; }
      .violet-section.two .blog-item:last-child {
        margin-bottom: 30px; }
    .violet-section.two h6 {
      margin-top: 15px; } }

/*# sourceMappingURL=styles.css.map */
