/*//////////////STYLES//////////////*/
/*

pink #FF5274 :hover #D7405D

header border bottom rgba(255, 255, 255, 0.2);

Font "Open Sans", sans-serif

body colour and fixed menu background colour rgba(28, 54, 83, 0.6)

white section Hs #3D4351

white section p tag rgba(28, 54, 83, 0.6)

lille section background #F3F4F8

footer background colours:

up #495061

bottom #3D4351

right #373D4A

arrow square rgba(0, 0, 0, 0.15) :hover rgba(0, 0, 0, 0.4)

*/

body{
    background-color: white;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.header-section{
    background-image: url(img/hero.jpg);
}

.nav-main-container{
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-main-container .nav-bar li{
    float: left;
    display: inline;
    
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.nav-main-container .nav-bar li:hover{
    color: #FF5274;
}

.buttons{
    color: white;
    border: 2px solid #fff;
    border-radius: 20px;
    background: inherit;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.buttons:hover{
    border: 2px solid #FF5274;
    color: #D7405D;
}

.navbar-right .buttons.log-in{
    border: none;
}

/*//DARK SECTION//*/

.dark-section{
    padding: 100px 10px;
}

.dark-section h1{
    padding: 20px 0;
    font-size: 4em;
}

.dark-section p{
    padding-bottom: 70px;
    font-size: 1.3em;
}

.dark-section .buttons{
    border: 2px solid #FF5274;
    margin: 15px;
    color: #FF5274;
}

.dark-section .buttons:hover{
    border: 2px solid #FF5274;
    background-color: #FF5274;
    color: white;
}

.dark-section .buttons.reversed{
    border: 2px solid #FF5274;
    background-color: #FF5274;
    color: white;
}

.dark-section .buttons.reversed:hover{
    border: 2px solid #D7405D;
    background-color: #D7405D;
}

/*//WHITE SECTION//*/

.white-section{
    padding: 100px 10px;
}

.white-section .article-content h4{
    color: #3D4351;
    text-transform: uppercase;
    font-size: 17px;
}

.white-section .article-content p{
    color: rgba(28, 54, 83, 0.6);
    font-size: 15px;
    line-height: 29px;
}

.article-icon{
    color: #FF5274;
    font-size: 40px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;    
}

.article-content{
    display: inline-block;
    width: 80%;
}

/*//VIOLET SECTION//*/

.violet-section{
    padding: 136px 10px 35px 10px;
    background-color: #F3F4F8;
    overflow: hidden;
}

.ipadimg-container{
    /*border: 1px solid red;*/
}

.ipadimg-container img:first-child{
    position: absolute;
    right: 235px;
}

.ipadimg-container img:last-child{
    position: absolute;
    right: 135px;
    top: 200px
}

.violet-section h3{
    color: #3D4351;
    font-size: 24px;
}

.violet-section h4{
    color: #3D4351;
    text-transform: uppercase;
    font-size: 17px;
}

.violet-section p{
    color: rgba(28, 54, 83, 0.6);
    font-size: 15px;
    line-height: 29px;
    padding-bottom: 20px;
}

.violet-section ul p{
    border-bottom: solid 1px #E6E9EA;
}

.violet-section .articles-list{
    padding-right: 45px;
}
