/*//////////////STYLES//////////////*/
/*

pink #FF5274 :hover #D7405D

header border bottom rgba(255, 255, 255, 0.2);

Font "Open Sans", sans-serif

body colour and fixed menu background colour rgba(28, 54, 83, 0.6)

white section Hs #3D4351

white section p tag rgba(28, 54, 83, 0.6)

lille section background #F3F4F8

footer background colours:

up #495061

bottom #3D4351

right #373D4A

arrow square rgba(0, 0, 0, 0.15) :hover rgba(0, 0, 0, 0.4)

*/

body{
    background-color: white;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.header-section{
    background-image: url(img/hero.jpg);
}

.nav-main-container{
    font-size: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 400ms ease-in-out;
}

.nav-main-container.top-menu-down{
    background-color: #232731;
    border-bottom: none;
}

.nav-main-container .nav li{
    float: left;
    display: inline;
    text-transform: uppercase;
    padding: 65px 20px;
    transition: all 200ms ease-in-out;
}

.nav-main-container .nav{
    padding-left: 60px;
}

.nav-main-container.top-menu-down .nav li{
    padding: 35px 20px;
}

a{
    transition: all 200ms ease-in-out;
    color: white;
    cursor: pointer;
}


a:hover{
    color: #FF5274;
    text-decoration: none;
}

a:focus{
    color: #FF5274;
    text-decoration: none;
}


.buttons{
    border: 2px solid #FF5274;
    color: #FF5274;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    border-radius: 25px;
    background: inherit;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 40px;    
    position: relative;
    top: 30px;
}

.buttons:hover{
    border: 2px solid #FF5274;
    background-color: #FF5274;
    color: white;
}

.buttons:focus{
    outline: none;
}

.navbar-right .buttons{
    color: white;
    border: 2px solid #fff;
    background: inherit;
    margin: 0;
    top: 0;
}

.navbar-right .buttons:hover{
    border: 2px solid #FF5274;
    color: #D7405D;
}

.navbar-right .buttons.log-in{
    border: none;
    margin-right: 15px;
}

/*//DARK SECTIONS//*/

.dark-section{
    padding: 280px 10px 140px 10px;
}

.header-section .dark-section h1{
    padding: 20px 0;
    font-size: 4em;
}

.header-section .dark-section p{
    padding-bottom: 70px;
    font-size: 1.3em;
    color: white;
}

.dark-section .buttons{
    padding: 15px 40px;
}

.buttons.reversed{
    border: 2px solid #FF5274;
    background-color: #FF5274;
    color: white;
    margin-right: 20px;
}

.buttons.reversed:hover{
    border: 2px solid #D7405D;
    background-color: #D7405D;
}

/*//COMMON TO ALL OTHER SECTIONS//*/


h3{
    color: #3D4351;
    font-size: 24px;
    padding-bottom: 14px;
}

h4{
    color: #3D4351;
    text-transform: uppercase;
    font-size: 17px;
}

p{
    color: rgba(28, 54, 83, 0.6);
    font-size: 15px;
    line-height: 29px;
    transition: all 200ms ease-in-out;
}

/*//WHITE SECTIONS//*/

.white-section{
    padding: 135px 10px 115px 10px;
    overflow: hidden;
}

.article-icon{
    color: #FF5274;
    font-size: 40px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;    
}

.article-content{
    display: inline-block;
    width: 80%;
}

/*//VIOLET SECTIONS//*/

.violet-section{
    padding: 120px 10px 85px 10px;
    background-color: #F3F4F8;
    overflow: hidden;
}

.img-container img:first-child{
    position: absolute;
    right: 235px;
    top: 35px;
}

.img-container img:last-child{
    position: absolute;
    right: 135px;
    top: 260px
}

.violet-section .articles-list{
    padding-right: 45px;
}

.violet-section .articles-list ul{
    list-style-type: none;
}

.violet-section .single-article{
    border-bottom: solid 1px #E6E9EA;
    margin: 35px 0;
}

.content-column>p{
    padding-bottom: 30px;
}

/*//SINGLE ADJUSTMENTS//*/

.white-section .img-container img{
    left: 90px;
    top: 0;
}

.white-section.two{
     padding: 100px 10px 175px 10px;
}

h2{
    font-weight: 300;
    font-size: 2.5rem;
}

.dark-section.two{
    background-image: url(img/polygonal-bg.jpg);
    padding-top: 90px;
    padding-bottom: 15px;
    margin-top: 100px;
}

.dark-section.two p{
    color: #ACB1B4;
    padding: 10px 0;
}

.dark-section.two i{
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal;
}

.dark-section.two .diamond-wrapper{
    position: relative;
}

.dark-section.two .diamond-wrapper img{
    position: relative;
    top: 80px;
    animation: diamondSwing 1200ms linear infinite alternate;
}

@keyframes diamondSwing{
    0%{
        transform: translateY(0)
    }
    100%{
        transform: translateY(10px)
    }
}

.violet-section.two{
    padding: 170px 10px 160px 10px;
}

.violet-section.two .single-article{
    border-bottom: none;
    padding-top: 20px;
}

.violet-section.two .single-article:first-child{
    border-bottom: none;
    border-right: solid 1px #E6E9EA;
    padding-right: 70px;
}

.violet-section.two .single-article:last-child{
    padding-left: 70px;
}

.blog-item{
    padding: 10px;
    margin-top: 65px;
}

.blog-item h6{
    color: #FF5274;
    padding-top: 30px;
    cursor: pointer;
}

.blog-item p:hover{
    color: #3D4351;
    cursor: pointer;
}

.blog-item i{
    padding-left: 10px;
}

.blog-item img{
    transition: all 400ms ease-in-out;
}

.blog-item img:hover{
    transform: scale(1.2);
}

.blog-item .modal-content{
    position: relative;
    top: 165px;
    padding: 5px;
    width: 520px;
}

.blog-item .modal-content .close{
    position: absolute;
    top: -15px;
    right: -15px;
    color: white;
    background-color: black;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: 3px solid;
}

.blog-item .modal-content .close span{
    position: relative;
    bottom: 3px;
    font-size: 18px;
}

.blog-item .modal-content img:hover{
    transform: none;
}

.articleimg-wrapper{
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    transition: all 400ms ease-in-out;
    position: relative;
}

.articleimg-wrapper i{
    opacity: 0;
    position: absolute;
    top: 25px;
    right: 30px;
    transition: all 400ms ease-in-out;    
}

.articleimg-wrapper:hover{
    opacity: 0.5
}

.articleimg-wrapper:hover> i{
    opacity: 1;
}

.dark-section.three{
    background-image: url(img/testimonials-bg.jpg);
    padding: 115px 10px 125px 10px;
    object-fit: cover;
}

.dark-section.three .single-slide p{
    color: white!important;
    margin-top: 25px;
}
.dark-section.three .single-slide h4{
    color: white!important;
}

.dark-section.three .single-slide img{
    display: inline;
    border-radius: 50%;
    width: 85px;
    border: 2px solid white;
    margin-bottom: 30px;
}

.arrow{
    background-color: inherit;
    border: none;
    width: 45px;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    transition: all 400ms ease;
    top: 120px;
    opacity: 0;
}

.dark-section.three .slider:hover .arrow.arrow-next:hover{
    opacity: 1;
}

.dark-section.three .slider:hover .arrow.arrow-prev:hover{
    opacity: 1;
}

.arrow:focus{
    outline: none;
}

.arrow.arrow-next{
    right: -50px;
}

.arrow.arrow-prev{
    left: -50px;
    z-index: 2;
}

.dark-section.three .slider:hover > .arrow.arrow-next{
    right: 0;
    opacity: .7;
}

.dark-section.three .slider:hover > .arrow.arrow-prev{
    left: 0;
    opacity: .7;
}

.slick-dots{
    bottom: -125px;
}

.slick-dots li button{
    cursor: default;
}

.slick-dots li button:before{
    width: 13px;
    height: 13px;
    border-radius: 20px;
    color: transparent;
    background-color: rgba(92, 95, 106, 1);
    transition: all 200ms ease-in-out;
}

.slick-dots li:not(.slick-active) button:hover::before{
    background-color: white;
    cursor: pointer;
}

.slick-dots li.slick-active button:before{
    color: transparent;
    border: 2px solid white;
    background-color:transparent;
}

.form input{
    display: block;
    padding: 10px 10px 10px 80px;
    margin: 20px 0;
    border: solid 1px #E6E9EA;
    width: 100%;
    cursor: pointer;
}

.form input::-webkit-input-placeholder{
    color: rgba(28, 54, 83, 0.6);
    /*padding-left: 40px;*/
    font-size: 15px;
}
/*
.form input:focus::-webkit-input-placeholder{
    color:transparent;
}*/

.form{
    position: relative;
}

.white-section .content-column>p{
    padding-bottom: 15px;
}

.form i{
    color: #FF5274;
    position: absolute;
    left: 40px;
    border-right: solid 1px #E6E9EA;
    padding-right: 20px;
}

.form .fa-envelope{
    top: 13px;
    font-size: 14px;
}

.form .fa-lock{
    top: 80px;
    font-size: 18px;    
}

.form .buttons.reversed{
    width: 100%;
    border-radius: 0;
    padding: 10px;
    margin: 0;
    top: 0;
}

/*//FOOTER SECTION//*/
.footer{
    position: relative;
}

.footer-section .top-strip{
    background-color: #495061;
}
.footer-section .top-strip .arrow-box{
    height: 50px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.footer-section .top-strip .arrow-box:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.footer-section .top-strip .fa-angle-up{
    color: white;
    font-size: 27px;
    position: relative;
    top: 10px;
}

.footer-section .back-layer{
    background-color: #3D4351;
}

.nav-block p{
    color: #ACB1B4;
    font-size: 13px;
}

.footer-section .nav-block{
    padding: 70px 0;
}

.nav-block .fa-heart{
    color: #FF5274;
    
    animation: pulse 1s linear infinite alternate;
}

@keyframes pulse{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.8);
    }
}

.footer-section .social-block{
    background-color: #373D4A;
    position: absolute;
    width: 40%;
    height: 100%;
    right: -70px;
    color: white;
}

.footer-section .nav{
    border-top: solid 1px #4E566C;
    
}

.footer-section .nav li{
    text-transform: uppercase;
    font-size: 13px;
}

.footer-section .nav p{
    font-size: 13px;
}

.footer-section .social-block p{
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}

.footer-section .social-block .social{
    padding: 85px 0 0 50px;
}

.social-block .social a{
    height: 60px;
    width: 60px;
    background-color: #1AB4EF;
    border-radius: 3px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.social-block .social .twitter{
    background-color: #1AB4EF;
}

.social-block .social .twitter:hover{
    background-color: #1590BF;
}

.social-block .social .facebook{
    background-color: #3B5898;
}

.social-block .social .facebook:hover{
    background-color: #324C85;
}

.social-block .social i{
    top: 15px;
    position: relative;
}

.social-block .social:hover > a{
    color: white;
}